.errorLogItem{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    
    width: 100%;
    
}

.errorLogItem p{
    padding: 10px;
    flex: 33%;
    border-left: solid 3px var(--dark-grey);
    color: var(--grey);
    padding-left: 5%;
    text-align: left;
}
