.container {
    height:clamp(200px, 32vw, 400px);
    /* clamp(50px, 8vw7., 100px);*/
    aspect-ratio: 1.39;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--dark-grey);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.container:hover .imgBx {
    transform: translateY(-100%);
}

.container:hover .textBx  {
    transform: translateY(-85%);
    overflow: auto;
}

.container .imgBx {
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: all .65s ease;
    position: relative;
}

.imgBx img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    object-fit: contain;
}

.container .dateBx {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--dark-blue);
    color: var(--white);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    padding: 3px;
    transition: all .4s ease;
    width: 25%;
    height: auto;
}

.container .textBx {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: poppins;
    color: var(--white);
    background-color: var(--dark-grey);
    transition: all .5s ease;

}

.container .textBx h3{
    font-size: clamp(12.5px, 2vw, 25px);
    padding: 0 20px;
}
.container .textBx p{
    font-size: clamp(10px, 1.44vw, 18px);
    text-align: justify;
    padding: 10px 15px;
}
.button{
    /* display: inline-block; */
    display: none;
    margin-top: 10px;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    font-size: clamp(7.5px, 1.2vw, 15px);
    font-family: var(--button-font);
    /* clamp(50px, 8vw7., 100px);*/
}
.button.active{
    display: inline-block;
}

  
@media screen and (max-width: 1024px) {
    .content a{
        font-size: clamp(11.25px, 1.8vw, 22.5px);
        /* clamp(50px, 8vw, 100px);*/
    }
}