.wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 1.6vw, 20px);
      
    margin-top: 1%;
}
.card{
    /* width:clamp(200px, 32vw, 400px); */
    height: clamp(50px, 8vw, 100px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clamp(50px, 8vw, 100px);*/
    border: solid 1px var(--grey);
    border-radius: 15px
}

.card img{
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.button{
    position: relative;
    height: 50px;
    width: 180px;
    margin-top: clamp(15px, 2.4vw, 30px);
    margin-bottom: 8%; 
}

@media screen and (max-width: 1024px) {
    /* .container {flex-flow: column wrap;} */
    .card{
        /* width:clamp(250px, 40vw, 500px); */
        height: clamp(75px, 12vw, 150px);
        aspect-ratio: 1/1;

        
        /* clamp(50px, 8vw, 100px);*/
    }
  }