@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;700&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

:root {
  /* COLORS */
  --blue: #2272ff;
  --dark-blue: #1d5bc7;
  --black: #191919;
  --grey: #c0c0c0;
  --white: whitesmoke;
  --background_button: #272727;
  --dark-grey: #333;

  --light-blue:#00FFFF;
  --yellow:#F5CD19;
  --red:#FF0707;
  --yellow-text:#ddc96d;
  --red-text:#af4747;
  --grey-light:#777;
  --grey-dark:#555;
  --green:#50fc1c;
  --black-background: #1f1f1f;
  --black-transparent:rgba(66, 66, 66, 0.5);
  --white-text:#afafaf;
  --grey-background:rgb(59, 59, 59);

  /* SIZE */
  --height-header: 10vh;
  --height-footer: 50px;

  /* FONTS */
  --title-font: 'Space Grotesk', sans-serif;
  --subtitle-font: 'Raleway', sans-serif;
  --button-font: 'Cutive Mono', monospace;
  --subtext-font: 'Orbitron', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var( --dark-blue); 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--black);
}

/* For mobile phones: */
@media screen and (max-width: 768px) {
  .col {width: 100%;}
}

@media screen and (min-width: 769px) and (max-width: 1023px){
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media screen and (min-width: 1024px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


