.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px green;
}

.card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border: solid 1px red;
}
.card:hover{
    height: 420px;
}

.card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}

.card .content{
    position: relative;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border: solid 1px blue;
}

.card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -140px;
    transition-delay: 0.3s;
}