.MyButton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    border: solid 3px var(--blue);
    background: var(--grey);
    cursor: pointer;
}

.MyButton::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 2px solid var(--blue);
    border-radius: 50%;
    outline-offset: 2px;
    outline-width: 2px;
    animation: pulse 1s linear infinite;
}

.MyButton img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

@keyframes pulse {
    0%{
        outline-offset: 2px;
        opacity: 1;
    }
    100%{
        outline-offset: 20px;
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    .MyButton{
/*         bottom: 0px;
        top: 50px; */
        display: none;
    }
}